@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model WorkshopManager.Pages.ServiceOrders.CreateModel
@{
    ViewData["Title"] = "Add Client";
}

<h2>Add Vehicle</h2>

<form method="post">
    <label>
        Vehicle:
        <select asp-for="InputOrder.VehicleId" asp-items="@(new SelectList(Model.Vehicles, "Id", "Vin"))"></select>
    </label><br />
    <button type="submit">Save</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
