@page
@model WorkshopManager.Pages.Parts.UpdateModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Update Part Stock";
}

<h2>Update Part Stock</h2>

<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Current Stock</th>
                <th>New Stock</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CatalogItems)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td>@item.Stock</td>
                    <td>
                        <input name="UpdatedStocks[@item.Id]" type="number" class="form-control" min="0" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Update Stocks</button>
</form>
