@page
@model WorkshopManager.Pages.Dashboard.ClientModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Client Dashboard";
}

<h2>Client Panel</h2>

<div class="mt-4">
    <a class="btn btn-success me-2" asp-page="/ServiceOrders/UserComments">Manage your Orders and comment on them</a>
    <a class="btn btn-success me-2" asp-page="/Vehicles/UploadVehiclePhoto">Add photos to your vehicles</a>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}