@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model WorkshopManager.Pages.Dashboard.ReceptionistModel
@{
    ViewData["Title"] = "Receptionist Dashboard";
}

<h2>Receptionist Panel</h2>

<div class="mt-4">
    <a class="btn btn-success me-2" asp-page="/Clients/Create">Add Client</a>
    <a class="btn btn-success me-2" asp-page="/Clients/ClientAccounts">Assign clients to accounts</a>
    <a class="btn btn-success me-2" asp-page="/Vehicles/Create">Add Vehicle</a>
    <a class="btn btn-success me-2" asp-page="/ServiceOrders/Create">Create a new Service Order</a>
    <a class="btn btn-success me-2" asp-page="/Clients/PdfRaport">Get a PDF raport of Clients repairs</a>
    <a class="btn btn-success me-2" asp-page="/Parts/Update">Change quantities of parts</a>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}